[user]
	name = teenst
	email = teens.twenties@gmail.com
[github]
	user = teenst
	token = ! "ruby -rpit -e \"print Pit.get('github')['token']\""
[core]
        editor = vim
        excludesfile = /opt/boxen/config/git/gitignore

[color]
        ui = true
        diff = auto
        status = auto
        branch = auto
        grep = auto
[alias]
        co = checkout
        ci = commit -v
        st = status
        br = branch
        hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
        type = cat-file -t
        dump = cat-file -p
        di = diff
        puhs = push
        psuh = push
        pus = push
        puh = push
        pl = !git pull && git submodule update --init
[push]
        default = current
[include]
        path = .gitconfig.os

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[hub]
protocol = https
