# Thumbnails
._*

#emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

/.emacs.d/abbrev_defs
/.emacs.d/ac-comphist.dat

.emacs.d/opt/
.emacs.d/elpa/
.emacs.d/site-lisp/

#Mac
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes


.gitconfig.os

#IntelliJ
*.iml
*.ipr
*.iws
.idea/